.one{
    color: red;

}
    
.two{
    margin-left: 150px;
    margin-top: -58px;
}

.three{
    margin-left: 257px;
    margin-top: -58px;
}

.four{
    margin-left: 370px;
    margin-top: -58px;
}

.five{
    margin-left: 1400px;
    margin-top: -50px;
    

    
}

.six{
    margin-left: 1325px;
    margin-top: -20px;
    

}
